html {
    background-color: lightgrey;
}
h1 {
    color: red;
    font-size: 50px;
    text-align: center;
}
.intro {
    font-family: "Courier New",cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: Helvetica, Arial, sans-serif
}

ul {
    font-family: "Courier New",cursive;
    font-size: 20px;
}

.closing {
    color: blueviolet;
    text-align: center;
    font-family: "Poetsen One";
    size: 1rem;
    margin-top: 50px;
}

.main_pic {
    height: 250px;
    width: 250px;
    border: 10px solid black;
}